<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009107455474-j8mp0fohhpbqlj5jrma35e4tg4rqb0bh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009107455474-j8mp0fohhpbqlj5jrma35e4tg4rqb0bh</string>
	<key>API_KEY</key>
	<string>AIzaSyDH5SmA1JSQOXe7dCTKc2vWmxnmSFxpFQE</string>
	<key>GCM_SENDER_ID</key>
	<string>1009107455474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.iosacademy.Thoughts</string>
	<key>PROJECT_ID</key>
	<string>thoughts-ios-3e0da</string>
	<key>STORAGE_BUCKET</key>
	<string>thoughts-ios-3e0da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009107455474:ios:4a7bd15d180212b838ef6b</string>
</dict>
</plist>